.btnStyle {
    color: #000;
    width: 234px;
    height: 55px;
    font-size: 22px;
    font-family: Microsoft YaHei;
    background-color: #FFE179;
    line-height: 55px;
    text-align: center;
    border-radius: 15px;
    border-top-left-radius: 0;
    margin-top: 40px;
}

.btnArr {
    display: flex;
    width: 550px;
    justify-content: space-between;
}

.redbtnStyle {
    width: 154px;
    height: 55px;
    font-size: 22px;
    font-family: Microsoft YaHei;
    line-height: 55px;
    text-align: center;
    border-radius: 15px;
    border-top-left-radius: 0;
    margin-top: 40px;
    background-color: #F10E00;
    color: #Fff;
}

.btnStyle_ {
    color: #000;
    width: 154px;
    height: 55px;
    font-size: 22px;
    font-family: Microsoft YaHei;
    background-color: #FFE179;
    line-height: 55px;
    text-align: center;
    border-radius: 15px;
    border-top-left-radius: 0;
    margin-top: 40px;
    margin-bottom: 70px;
}


.inputStyle {
    background: none;
    outline: none;
    border: 1px solid #0E2044;
    width: 444px;
    height: 57px;
    opacity: 0.4;
    font-size: 22px;
    font-family: Arial;
    font-weight: 400;
    color: #999999;
}

.categoryList {

    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 1200px;
    font-size: 20px;
    font-family: Arial;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.category {
    width: 160px;
    height: 70px;
    border: 1px solid #CFD3DB;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 25px 0;
    border-radius: 15px;
    font-size: 18px;
    font-family: Arial;
    font-weight: 400;
    color: #000000;

}

.active_category {
    background-color: #FFE179;
    border: 1px solid #0E2142;

}

.threeBall {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 900px;
    position: relative;

}

.line {
    width: 100%;
    height: .5px;
    position: absolute;
    bottom: 75px;
    z-index: -1;
    /* opacity: 0.5; */
    background-color: #999;
}

.ballBox {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.ball {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
    font-weight: 400;
    z-index: 9999999999;
    border-radius: 50%;
    margin-bottom: 15px;
}

.active_ {
    background-color: #FFE178;
    color: #000000;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
    font-weight: 400;
    z-index: 9999999999;
    border-radius: 50%;
    margin-bottom: 15px;
}

.no_active {
    background-color: #000;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
    font-weight: 400;
    z-index: 9999999999;
    border-radius: 50%;
    margin-bottom: 15px;
}

.ball_text {
    font-size: 20px;
    font-family: Arial;
    font-weight: 400;
    color: #000000;
}

.buttondiv {
    width: 250px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: relative;
    background-color: yellow;
    color: #0f0;
}

.lodingdiv {
    width: 100%;
    height: 40px;
    background-color: #666;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loding {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}