# compiled output
/dist
/node_modules
/teams/15-team-cicada/src/frontend-react-test/build
/teams/15-team-cicada/src/chain/target
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Local config - .env
.env
.idea/
