[submodule "teams/10-Tenet/src/cmps"]
	path = teams/10-Tenet/src/cmps
	url = https://github.com/0xdadaking/cmps.git
	branch = dev
[submodule "teams/10-Tenet/src/videown-server"]
	path = teams/10-Tenet/src/videown-server
	url = https://github.com/Jiuqu3239/videown-server
	branch = dev
[submodule "teams/10-Tenet/src/videown-nft"]
	path = teams/10-Tenet/src/videown-nft
	url = https://github.com/lost-inwind/videown-nft
[submodule "teams/17-team-AdMeta/src/substrate/admeta"]
	path = teams/17-team-AdMeta/src/substrate/admeta
	url = https://github.com/AdMetaNetwork/admeta.git
	branch = feat-nft
[submodule "teams/07-lightm/src/evm"]
	path = teams/07-lightm/src/evm
	url = https://github.com/LightmNFT/Lightm-evm.git
[submodule "teams/07-lightm/src/ui"]
	path = teams/07-lightm/src/ui
	url = https://github.com/LightmNFT/lightm.git