.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture .ant-upload-list-item .ant-upload-list-item-progress {
  width: calc(100% - 67px);
}
.ant-upload-wrapper .ant-upload-drag {
  border: 1px solid #EAEAEA;
  margin-bottom: 20px;
}
.ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: #EAEAEA;
}
.ant-upload-wrapper .ant-upload-list .ant-upload-list-item{
  margin-top: 0;
}
.ant-upload-wrapper .ant-upload-list .ant-upload-list-item-container:first-child {
  border-top: 1px solid #d9d9d9;
}
.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item,.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture .ant-upload-list-item {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
.ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-list-item-name {
  padding: 0 34px;
}
.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item .ant-upload-list-item-thumbnail {
  width: 51px;
  height: 43px;
}
.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item .ant-upload-list-item-thumbnail .anticon {
  width: 51px;
  height: 43px;
  background: url('@/assets/icons/file.png') no-repeat 0 0;
  background-size: 100% 100%;
}
.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item .ant-upload-list-item-thumbnail .anticon svg {
  display: none!important;
}
.ant-upload-wrapper .ant-upload-drag{
  height: 162px;
}
