@import '../../global.scss';

.wrapped-lazy-load-image {
    position: relative;
    max-height: 100%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    background: white;

    .lazyload-wrapper,
    .wrapper {
        max-height: 100%;
        max-width: 100%;

        img {
            @include absolute-centered;
            max-height: 100%;
            max-width: 100%;
        }
    }

    .loading {
        @include absolute-centered;
    }
}