.SendRecord{
    // width: 80%;
    padding-top: 0px;
    max-height: 82vh;
    overflow-y:scroll;
    .top_{
        display: flex;
        justify-content: space-between;
        padding-bottom: 22px;
        img{
            width:40px;
            height: 40px;
            cursor: pointer;
        }
        span{
            font-size: 20px;
            font-weight: bold;
            color: #FFFFFF;
        }
    }
    .SendRecord_c{
        margin: 0 50px;
        padding-top: 30px;
        p{
            font-size: 24px;
            font-weight: 400;
            color: #FFFFFF;
            width: 90%;
            margin: 0 auto;
            padding-top: 28px;
            padding-bottom: 10px;
        }
        ul{
            border-radius: 16px;
            padding-top: 10px;
            border: 1px solid #666666;
            padding-bottom: 10px;
            li{
                overflow: hidden;
                background:#272C31;
                height: 58px;
                margin: 0 auto;
                margin-bottom: 12px;
                border-radius: 5px;
                // padding-top: 15px;
                // padding-top: 15px;
                line-height: 58px;
                p{
                    padding: 0;
                    font-size: 14px;
                    color: #fff;
                    float: left;
                    text-align: center;
                    
                }
                .token{
                    width: 10%;     
                    white-space: nowrap;

                }
                .Amount{
                    width: 20%;
                }
                .Hash{
                    width: 25%;
                    overflow-y: scroll;
                    cursor: pointer;
                }
                .Date{
                    width: 30%;
                }
                .Status{
                    width: 10%;
                }
                .button{
                height: 37px;
                background: #14191D;
                box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
                opacity: 1;
                color: #fff;
                border-radius: 15px;
                border:none;
                margin-left: 20px;
                }
                img{
                    width: 75px;
                    // height: 33px;
                }
            }
            .title{
            font-size: 20px;
            background: rgba(0,0,0,0);
            p{
            //    width: 20%; 
               font-size: 20px;
                color: #FFFFFF;
            }
            }
        }
    

    }
    
}