.LoginWallet{
    // width: 80%;
    padding-top: 48px;
    overflow-y:scroll;
    .top_{
        margin: 0 50px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 22px;
        img{
            width:40px;
            height: 40px;
            cursor: pointer;
        }
        span{
            font-size: 20px;
            font-weight: bold;
            color: #FFFFFF;
        }
    }
    .LoginWallet_c{
        margin: 0 50px;
        background-size: 100% 100%;
        background: #1D2126;
        border-radius: 8px 8px 8px 8px;
        opacity: 1;
        border: 1px solid #33383D;
       
        .networks{
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
                img{
                    width: 28px;
                    margin-right: 10px;
                }
                span{
                    font-size: 20px;
                    color: #FFD271;
                }
        }
        .select_main{
            width: 150px;
            height: 40px;
            border: 1px solid #AAAAAA;
            opacity: 1;
            border-radius: 16px;
            .ant-select-selector{
            height: 40px;
            font-size:12px;
            background: rgba(0,0,0,0);
            border:none;
            color: #fff;
            &:after{
                color: #fff;
            }
            }
            .ant-select-selection-item{
            font-size:14px;
            height: 40px;
            line-height:40px;
            }
            .ant-select-arrow{
            color: #fff;
            }
            .ant-select-suffix{
            font-size:12px;

            }
        }
        p{
            font-size: 24px;
            font-weight: 400;
            color: #FFFFFF;
            width: 90%;
            margin: 0 auto;
            padding-top: 28px;
            padding-bottom: 10px;
        }
        textarea{
            width: 90%;
            height: 192px;
            margin: 0 auto;
            display: block;
            margin-top: 20px;
            background: #111315;
            opacity: 1;
            border-radius: 16px;
            border:none;
            color: #fff;
            resize: none;
            
        }
        .key{
            display: none;
        }
        ul{
        display: flex;
        // justify-content:space-between;
        border-bottom: 1px solid #707070;
        width: 90%;
        margin: 0 auto;
        li{
            font-size: 20px;
            font-weight: 400;
            color: #AAAAAA;  
            padding-top: 28px;
            padding-bottom: 24px;
            text-align: center;
            margin-left: 40px;
            margin-right: 40px;
            position: relative;
            cursor: pointer;

            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 100%;
                position: absolute;
                bottom: 0px;
                left:0px;
                display: none;

            }
            .active{
                color: #fff;
                display: block;
            }

            .pointactive{
                width: 6px;
                height: 6px;
                background: #2190A3;
                opacity: 1;
                margin-right: 15px;
            }
            .point{
                width: 6px;
                height: 6px;
                background: #ccc;
                opacity: 1;
                margin-right: 15px;
            }
            
        }
        }
        .Confirm_c{
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
            padding-top: 60px;

            .Cancel{
                width: 400px;
                height: 48px;
                border: 1px solid #FE5266;
                opacity: 1;
                border-radius: 16px;
                background: rgba(0,0,0,0);
                color: #FE5266;
                margin-right: 10px;
            }
            .Confirm{
                width: 400px;
                height: 48px;
                background: #FE5266;
                opacity: 1;
                border-radius: 16px;
                color: #fff;
                border:none;
                margin-left: 10px;
                color: #FFFFFF;

            }
        }
        .Uploads{
            width: 90%;
            height: 60px;
            background: rgba(17,19,21,0.39);
            opacity: 1;
            border-radius: 16px;
            margin: 0 auto;
            margin-top: 20px;
            overflow: hidden;
            display: flex;
            align-items: center;
            input{
            width: 80%;
            background: rgba(17,19,21,0.39);
            height: 60px;
            border:none;
            color: #fff;
            }
            .ant-upload-list{
                display: none !important;
            }
            .Upload_B{
                width: 146px;
                height: 50px;
                background: linear-gradient(180deg, #7D75FF 0%, #8F8BDF 100%);
                opacity: 1;
                border-radius: 16px;
                color: #fff;
                border:none;

            }
        }
        ._password{
            width: 90%;
            margin: 0 auto;
            span{
            font-size: 20px;
            color: #FFFFFF;
            display: block;
            padding: 20px 0;
            }
            input{
                width: 100%;
                background: rgba(17,19,21,0.39);
                height: 60px;
                border:none;
                border-radius: 16px;
                color: #fff;

            }
        }
    }
    
}