@import '../../../../../global.scss';

.voting-power-subpage {

    width: 1200px;
    font-family: Montserrat;

    .guidance {
        color: #ffffff;
        font-size: 14px;
        padding: 16px 52px;
        line-height: 200%;
        border-radius: 8px;
        @include colorfulBg;

        >.title {
            line-height: 200%;

            >img {
                transform: translate(-8px, 5px);
            }
        }

        ul {
            padding: 0 16px;
            margin: 0;
            color: #ffffff;
            margin-top: 8px;
        }

        .highlight {
            color: #FFC42E;
            display: inline-block;
            font-weight: bold;
            position: relative;

            img {
                position: absolute;
                width: 120%;
                bottom: -20%;
                left: -10%;
            }
        }
    }

    .main-container {
        margin-top: 40px;

        .add-more-strategy-button {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: $theme-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px #575861 dashed;
            cursor: pointer;
            padding: 20px 0;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}