@import '../../global.scss';

.settings-option {
    margin-bottom: 10px;
    min-height: 0;

    >.head {
        display: flex;
        justify-content: space-between;
        background: #1B1E31;
        border: 1px solid #15182B;
        backdrop-filter: blur(48px);
        border-radius: 8px;
        padding: 24px 40px 24px 100px;
        // transition: 300ms;

        &:last-of-type {
            margin-bottom: 0;
        }

        >.single-choice-button-group-v2 {
            height: 50px;
        }

        >.text {
            position: relative;

            >.title {
                font-family: 'Fjalla One';
                @include colorful;
                font-size: 32px;
                line-height: 40px;
                font-weight: bold;
                margin-bottom: 12px;
                cursor: pointer;
            }

            >.introduction {
                font-family: 'Montserrat';
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                opacity: 0.8;
            }

            >.expand-tip {
                position: absolute;
                left: -40px;
                top: 14px;
            }
        }

        .react-switch {
            svg {
                opacity: 0;
            }

            .react-switch-bg {
                position: relative;
                background: #1B1E31 !important;
                // border: 2px solid rgba(125, 128, 154, 0.3) !important;

                &:before {
                    @include colorfulBorderProperties(2px);

                    background: linear-gradient(105deg, rgba(125, 128, 154, 0.3), rgba(125, 128, 154, 0.3));
                    // background: rgba(125, 128, 154, 0.3);
                }
            }

            .react-switch-handle {
                background: #7D809A !important;
            }

            &.checked {
                .react-switch-bg:before {
                    background: linear-gradient(105deg, #634FFF, #FF5F5F);
                }

                .react-switch-handle {
                    background: #E6007A !important;
                }
            }


        }
    }

    >.body {
        // display: none;
        max-height: 0px;
        // transform-origin: top;
        // transform: scaleY(0);
        // overflow: hidden;
        margin-top: 4px;
        background: #1B1E31;
        // border: 1px solid #15182B;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -moz-border-radius-bottomright: 8px;
        -moz-border-radius-bottomleft: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        // transition: 300ms;

        >.container {
            padding: 26px 60px;
        }

        .r-label {
            font-size: 16px;
            line-height: 150%;
            color:rgba(255,255,255,0.8)
            // opacity: 0.8;
        }

    }

    >.body {
        display: none;
    }

    &.expand {

        // margin-bottom: 40px;
        >.body {
            display: block;
        }

        >.head {
            -webkit-border-bottom-right-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-radius-bottomright: 0;
            -moz-border-radius-bottomleft: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;

            .expand-tip {
                transform: rotate(90deg);
            }

            >.text>.title {
                cursor: default;
            }
        }


        >.body {
            max-height: 200px;
            animation: maxHeightUnset 1s infinite;
            -webkit-animation: maxHeightUnset 1s infinite;
            // animation-delay: 300ms;
        }

    }

}

.settings-choice {
    margin-bottom: 10px;
    min-height: 0;
    background: #15182B;
    overflow: visible;

    >.head {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        background: #1B1E31;
        border: 1px solid #15182B;
        backdrop-filter: blur(48px);
        border-radius: 8px;
        padding: 24px 40px 24px 100px;
        // transition: 300ms;
        user-select: none;

        &:last-of-type {
            margin-bottom: 0;
        }

        >.single-choice-button-group-v2 {
            height: 50px;
        }

        >.text {
            position: relative;

            >.title {
                font-family: 'Fjalla One';
                @include colorful;
                font-size: 32px;
                line-height: 40px;
                font-weight: bold;
                margin-bottom: 12px;
            }

            >.introduction {
                font-family: 'Montserrat';
                font-size: 16px;
                line-height: 150%;
                color: rgba(255,255,255,0.8);
                
                // opacity: 0.8;
            }

            >.checked-tip {
                position: absolute;
                left: -56px;
                top: 6px;
                width: 24px;
                height: 24px;
                border-radius: 12px;
                border: #FFFFFF55 1px solid;
                background-color: #ffffff22;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 24px;
                    height: 24px;
                    display: none;
                }
            }
        }

        .react-switch {
            svg {
                opacity: 0;
            }

            .react-switch-bg {
                position: relative;
                background: #1B1E31 !important;
                // border: 2px solid rgba(125, 128, 154, 0.3) !important;

                &:before {
                    @include colorfulBorderProperties(2px);

                    background: linear-gradient(105deg, rgba(125, 128, 154, 0.3), rgba(125, 128, 154, 0.3));
                    // background: rgba(125, 128, 154, 0.3);
                }
            }

            .react-switch-handle {
                background: #7D809A !important;
            }

            &.checked {
                .react-switch-bg:before {
                    background: linear-gradient(105deg, #634FFF, #FF5F5F);
                }

                .react-switch-handle {
                    background: #E6007A !important;
                }
            }


        }
    }

    >.body {
        // display: none;
        max-height: 0px;
        // transform-origin: top;
        // transform: scaleY(0);
        // overflow: hidden;
        margin-top: 4px;
        // background: #1B1E31;
        // border: 1px solid #15182B;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -moz-border-radius-bottomright: 8px;
        -moz-border-radius-bottomleft: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        // transition: 300ms;

        .r-label {
            font-size: 16px;
            line-height: 150%;
            
            color: rgba(255,255,255,0.8);
        }

    }

    >.body {
        display: none;
    }

    &.checked {

        // margin-bottom: 40px;
        >.body {
            display: block;
            max-height: 200px;
            animation: maxHeightUnset 1s infinite;
            -webkit-animation: maxHeightUnset 1s infinite;
        }

        >.head {
            -webkit-border-bottom-right-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-radius-bottomright: 0;
            -moz-border-radius-bottomleft: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;

            .checked-tip {
                img {
                    display: block;
                }

                // transform: rotate(90deg);
            }
        }
        
        position: relative;
        &::after{
            @include colorfulBorderProperties(2px);
        }

        // >.body {
        //     // animation-delay: 300ms;
        // }

    }

}


@keyframes maxHeightUnset {
    0% {
        max-height: unset;
    }

    100% {
        max-height: unset;
    }
}