@import '../../global.scss';

.main-button {
    color: #ffffff;
    font-family: 'Montserrat';
    opacity: 0.8;
    padding: 0 24px;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    width: fit-content;
    font-family: 'Montserrat';
    max-width: 100%;
    @include ellipsis(1);
    @include flex-centered-container;
    @include colorfulBg;

    >.container {
        position: relative;

        .content {
            @include flex-centered-container;
            transform: translateY(1px);
        }
    }

    &.solid {
        opacity: 1;
    }

    &:hover {
        opacity: 1;
    }


    &.loading,
    &.loading:hover {
        cursor: default;
        filter: grayscale(100%);
        opacity: 0.8;
    }

    &.loading {
        .content {
            opacity: 0;
        }

        .loadingicon {
            position: absolute;
            margin: auto;
            left: -9999px;
            right: -9999px;
            bottom: -9999px;
            top: -9999px;
            display: flex;
            justify-content: center;
            align-items: center
        }
    }

    &.disabled,
    &.disabled:hover {
        cursor: default;
        filter: grayscale(100%) brightness(150%);
        opacity: 0.8;
    }
}