@import '../../global.scss';

.single-choice-button-group {
    display: inline-block;
    position: relative;

    .single-choice-button {
        background-color: #F5F5F5;
        box-sizing: border-box;
        padding: 10px 20px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        position: relative;
        user-select: none;
        font-size: 16px;
        margin-left: 2px;
        color: #000000;
        min-width: 60px;
        text-align: center;
        font-weight: 400px;
        // letter-spacing: 0.5px;

        img {
            width: 20px;
            height: 20px;
            vertical-align: top;
        }

        &:first-of-type {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            margin-left: 0;
        }

        &:last-of-type {
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        &+.single-choice-button {}


        &:hover {
            @include colorfulBg;
            // background: linear-gradient(75.15deg, #06D5CBaa 10.31%, #00C4BBaa 126.49%);
            color: #f5f5f5;
        }

        &.selected {
            @include colorfulBg;
            // background: linear-gradient(75.15deg, #06D5CB 10.31%, #00C4BB 126.49%);
            color: #ffffff;
            font-weight: bold;
            letter-spacing: 0;
        }


    }
}