@import '../../global.scss';

.single-choice-button-group-v2 {
    position: relative;
    border: $default-border;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    .single-choice-button {
        box-sizing: border-box;
        padding: 4px 8px;
        vertical-align: top;
        cursor: pointer;
        position: relative;
        user-select: none;
        font-size: 14px;
        line-height: 24px;
        margin-left: 2px;
        color: #ffffff;
        min-width: 60px;
        text-align: center;
        font-weight: normal;

        img {
            width: 20px;
            height: 20px;
            vertical-align: top;
        }

        &:first-of-type {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            margin-left: 0;
        }

        &:last-of-type {
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        &+.single-choice-button {}


        &:hover {
            background: #E6007A;
            border-radius: 4px;
            color: #f5f5f5;
            font-weight: bold;
        }

        &.selected {
            background: #E6007A;
            border-radius: 4px;
            letter-spacing: 0;
            font-weight: bold;
        }

    }
}