@media (min-width: 1280px){
  html, body {
    font-size: 20px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1280px){
  html, body {
    font-size: 18px !important;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  html, body {
    font-size: 14px !important;
  }
}
@media (max-width: 768px) {
  html, body {
    font-size: 12px !important;
  }
}
//@media (max-width: 500px) {
//  html, body {
//    font-size: 60% !important;
//  }
//}
