@import '../../../../global.scss';

.dao-proposal-settings-page {
    width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 90px);

    >.body {
        flex: 1;
        width: 300vw;
        padding: 40px 0;
        transform: translateX(calc(-50vw + 600px));

        >.container {
            width: 100%;
            display: flex;
            overflow-y: hidden;
            overflow-x: hidden;
            transition: transform 300ms;

            >.subpage-wrapper {
                width: 100vw;
                display: flex;
                justify-content: center;

                >.subpage {
                    width: 1200px;
                }
            }
        }

        &.page1>.container {
            transform: 0;
        }

        &.page2>.container {
            transform: translateX(-100vw);
        }

        &.page3>.container {
            transform: translateX(-200vw);
        }
    }

    >.footer {
        height: 100px;
        @include flex-centered-container;
        gap: 24px;
        border-top: 1px solid #555555;
        width: 100vw;
        background: rgba(42, 53, 71, 0.3);
        transform: translateX(min(calc(-50vw + 600px), 0px));
    }
}


@media screen and (max-width: 1200px) {

    .dao-proposal-settings-page {
        >.head-fixed {
            margin-left: 0;
            width: 100vw;
        }

        >.footer {
            width: 1200px;
            margin-left: 0;
            transform: translateX(0);
        }
    }

}