@import '../../../../../global.scss';

.proposal-dashboard {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    height: 240px;

    .overview-pane {
        width: 540px;
        position: relative;
        z-index: 1;

        >.bg {
            position: absolute;
            z-index: -1;
            right: 20px;
            opacity: 0.3;
        }

        .stats-wrapper {
            display: flex;
            gap: 64px;
            padding: 0 40px;
            margin-top: 16px;
            justify-content: space-between;

            .stats {
                text-align: center;

                >.number {
                    font-family: "Fjalla One";
                    font-size: 46px;
                    // font-weight: bold;
                    color: white;
                    // @include colorful;
                }

                >.text {
                    font-size: 14px;
                    color: #ffffffdd;
                    font-weight: normal;
                    line-height: 150%;
                }
            }
        }

    }

    .rules-pane {
        width: 360px;

        .title {
            margin-bottom: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .button {
                color: #E6007A;
                font-size: 14px;
                font-family: 'Montserrat';
                font-weight: bold;
                cursor: pointer;
                user-select: none;
                // font-weight: normal;

                img {
                    transform: rotate(-90deg) translateX(-4px);
                    color: purple;

                }
            }
        }

        .stats {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 24px;
            color: #ffffff88;
            font-size: 14px;

            .duration-wrapper {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        .number {
            font-family: "Fjalla One";
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            // @include colorful;
        }

    }

    .rules-pane,
    .author-pane,
    .overview-pane {
        // background: #ffffff22;
        background: #15182B;
        color: #ffffff;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-size: 28px;
            // font-weight: bold;
            padding: 0 24px;
            margin-top: 24px;
            font-family: 'Fjalla One';
        }

        .button-wrapper {
            display: flex;
            justify-content: center;
            padding: 24px 0;
            margin: 0 24px;
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            gap: 8px;

            .Button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                color: #E6007A;
                font-weight: bold;
                font-size: 13px;
            }
        }
    }

    .author-pane {
        width: 300px;

        .subtitle {
            font-size: 24px;
            font-weight: bold;
            padding: 0px 24px;
            font-size: 14px;
            margin-top: 24px;
            color: #ffffffdd;
            font-weight: normal;
            line-height: 150%;
            @include ellipsis(4);
        }

        .main-button {
            border-radius: 0;
            width: 100%;
            margin-top: 32px;
            padding: 16px 0;
            height: unset;
        }
    }
}